@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.app-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: $gray-100;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $blue-700;
  color: $white;
  height: 3rem;
  padding: 0 1rem;
}

.app-body {
  display: flex;
  flex-grow: 1;
  background: #98C9DE;
  font-family: 'Kaushan Script', Kaushan Script;
  font-family: 'Inter', Inter;
}
