@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.app-body {
  display: flex;
  flex-grow: 1;
  background: #98C9DE;
  font-family: 'Kaushan Script', Kaushan Script;
  font-family: 'Inter', Inter;
}
